    {{> contact }}

    <!-- Main Scripts -->
    <script>
        console.log("¡Bienvenido al detras de mi pagina web, espero que puedas disfrutar de tu exploracion tanto como yo disfrute desarrollando esta pagina! // Juan Cruz Bolatti");
    </script>
    <script src="/js/brand-script.js"></script>
</body>

</html>