    <footer class="contact" id="Contact">
        <h2 class="container">{{ language.contactTitle }}</h2>
        <div class="contact-content">
            <div>
                <a target="_blank" href="https://www.instagram.com/juanc.dev/" id="anchor-ig">Instagram</a>
                <a target="_blank" href="https://www.linkedin.com/in/juan-cruz-bolatti/" id="anchor-li">LinkedIn</a>
                <a target="_blank" href="https://www.reddit.com/user/JuanC-Dev/" id="anchor-re">Reddit</a>
            </div>

            <div>
                <a target="_blank" href="https://codepen.io/juancruzbolatti" id="anchor-cp">CodePen</a>
                <a target="_blank" href="https://github.com/JuanCruzBolatti" id="anchor-gh">Github</a>
                <a target="_blank" href="https://www.youtube.com/@juanc_dev" id="anchor-yt">Youtube</a>
                {{!-- <a href="/projects" id="anchor-py">Proyectos</a> --}}
            </div>

            <div>
                <p>Email:</p>
                <a href="mailto:juancruzbolatti.t@gmail.com">juancruzbolatti.t@gmail.com</a>
            </div>
        </div>
    </footer>