<header class="header">
    <a href="/" class="logo">
        <svg class="logo-displayed" id="Capa_5" data-name="Capa 5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 714.83 714.28"><defs><style>.cls-1{fill:#fff;}</style></defs><polygon class="cls-1" points="322.01 0 322.01 83.76 214.87 190.9 214.87 0 322.01 0"/><path class="cls-1" d="M714.83,571.47l-75.76,75.76L427.63,435.8a106.94,106.94,0,0,1-34.35-78.67q0-1.1,0-2.19a107,107,0,0,1,32.78-75l.46-.45,25-25,60.2-60.19,75.73-75.73a101.3,101.3,0,0,0-117.08,18.85L358.79,249l-.09-.09-17.34,17.34L322,285.58,214.87,392.72l-33.05,33,.09.09-.57.56L107.77,500l73.57,73.57,33.53,33.53v.44l.22-.22-.22-.22V443.24L322,336.1V607.83c0,58.79-47.84,106.45-106.87,106.45h-.27A106.7,106.7,0,0,1,139.45,683l-.12.12L32,575.77l0,0a105.59,105.59,0,0,1,0-151.49l0,0L177.86,278.39h0L354.75,101.52h0l29.09-29.1,21.9-21.9a208.68,208.68,0,0,1,228.48-29c.85.41,1.69.83,2.53,1.26l1.86,1a107.41,107.41,0,0,1,25,170.5L643,214.92l-66.42,66.42-75.92,75.92-.11-.12-.22.22.12.11.21-.21Z"/></svg>
        <svg id="Capa_5" data-name="Capa 5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 714.83 714.28"><defs><style>.cls-1{fill:#fff;}</style></defs><polygon class="cls-1" points="322.01 0 322.01 83.76 214.87 190.9 214.87 0 322.01 0"/><path class="cls-1" d="M714.83,571.47l-75.76,75.76L427.63,435.8a106.94,106.94,0,0,1-34.35-78.67q0-1.1,0-2.19a107,107,0,0,1,32.78-75l.46-.45,25-25,60.2-60.19,75.73-75.73a101.3,101.3,0,0,0-117.08,18.85L358.79,249l-.09-.09-17.34,17.34L322,285.58,214.87,392.72l-33.05,33,.09.09-.57.56L107.77,500l73.57,73.57,33.53,33.53v.44l.22-.22-.22-.22V443.24L322,336.1V607.83c0,58.79-47.84,106.45-106.87,106.45h-.27A106.7,106.7,0,0,1,139.45,683l-.12.12L32,575.77l0,0a105.59,105.59,0,0,1,0-151.49l0,0L177.86,278.39h0L354.75,101.52h0l29.09-29.1,21.9-21.9a208.68,208.68,0,0,1,228.48-29c.85.41,1.69.83,2.53,1.26l1.86,1a107.41,107.41,0,0,1,25,170.5L643,214.92l-66.42,66.42-75.92,75.92-.11-.12-.22.22.12.11.21-.21Z"/></svg>
        <svg id="Capa_5" data-name="Capa 5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 714.83 714.28"><defs><style>.cls-1{fill:#fff;}</style></defs><polygon class="cls-1" points="322.01 0 322.01 83.76 214.87 190.9 214.87 0 322.01 0"/><path class="cls-1" d="M714.83,571.47l-75.76,75.76L427.63,435.8a106.94,106.94,0,0,1-34.35-78.67q0-1.1,0-2.19a107,107,0,0,1,32.78-75l.46-.45,25-25,60.2-60.19,75.73-75.73a101.3,101.3,0,0,0-117.08,18.85L358.79,249l-.09-.09-17.34,17.34L322,285.58,214.87,392.72l-33.05,33,.09.09-.57.56L107.77,500l73.57,73.57,33.53,33.53v.44l.22-.22-.22-.22V443.24L322,336.1V607.83c0,58.79-47.84,106.45-106.87,106.45h-.27A106.7,106.7,0,0,1,139.45,683l-.12.12L32,575.77l0,0a105.59,105.59,0,0,1,0-151.49l0,0L177.86,278.39h0L354.75,101.52h0l29.09-29.1,21.9-21.9a208.68,208.68,0,0,1,228.48-29c.85.41,1.69.83,2.53,1.26l1.86,1a107.41,107.41,0,0,1,25,170.5L643,214.92l-66.42,66.42-75.92,75.92-.11-.12-.22.22.12.11.21-.21Z"/></svg>
        <svg id="Capa_5" data-name="Capa 5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 714.83 714.28"><defs><style>.cls-1{fill:#fff;}</style></defs><polygon class="cls-1" points="322.01 0 322.01 83.76 214.87 190.9 214.87 0 322.01 0"/><path class="cls-1" d="M714.83,571.47l-75.76,75.76L427.63,435.8a106.94,106.94,0,0,1-34.35-78.67q0-1.1,0-2.19a107,107,0,0,1,32.78-75l.46-.45,25-25,60.2-60.19,75.73-75.73a101.3,101.3,0,0,0-117.08,18.85L358.79,249l-.09-.09-17.34,17.34L322,285.58,214.87,392.72l-33.05,33,.09.09-.57.56L107.77,500l73.57,73.57,33.53,33.53v.44l.22-.22-.22-.22V443.24L322,336.1V607.83c0,58.79-47.84,106.45-106.87,106.45h-.27A106.7,106.7,0,0,1,139.45,683l-.12.12L32,575.77l0,0a105.59,105.59,0,0,1,0-151.49l0,0L177.86,278.39h0L354.75,101.52h0l29.09-29.1,21.9-21.9a208.68,208.68,0,0,1,228.48-29c.85.41,1.69.83,2.53,1.26l1.86,1a107.41,107.41,0,0,1,25,170.5L643,214.92l-66.42,66.42-75.92,75.92-.11-.12-.22.22.12.11.21-.21Z"/></svg>
    </a>

    <nav class="navbar">
        <a href="#aboutme">Sobre Mí</a>
        <a href="#whatido">Que Hago</a>
        <a href="#work">Mi Trabajo</a>
        <a href="#contact">Contacto</a>
    </nav>

    <div class="socials">
        <a href="#">In</a>
        <a href="#">Ig</a>
        <a href="#">X</a>
    </div>

    <div class="corner">
        <p class="corner-displayed">ARGENTINA // 34° 36&apos; 13.3&ldquo; S 58° 22&apos; 53.8&ldquo; W // Idiomas</p>
        <a href="#">Visita mi Marca // Juan Cruz Bolatti</a>
        <p>Derechos Reservados // Juan Cruz Bolatti</p>
    </div>
</header>