<div class="pres-navbar">
    <a href="/"> A1 </a> <!-- Boton para volver -->

    {{#if true }}
    <a href="#" class="button-hidden" id="sectionConcept"> B2 </a> <!-- Boton Concepto -->
    {{/if}}

    {{#if true }}
    <a href="#" class="button-hidden" id="sectionColor"> C3 </a> <!-- Boton Color -->
    {{/if}}

    {{#if true }}
    <a href="#" class="button-hidden" id="sectionStructure"> D4 </a> <!-- Boton Estructura (web) -->
    {{/if}}

    {{#if true }}
    <a href="#" class="button-hidden" id="sectionFont"> E5 </a> <!-- Boton Tipografía -->
    {{/if}}

    {{#if true }}
    <a href="#" class="button-hidden" id="sectionAplication"> F6 </a> <!-- Boton Aplicaciones  -->
    {{/if}}

    {{#if true }}
    <a href="#" class="button-hidden" id="sectionTech"> G7 </a> <!-- Boton Tecnologias -->
    {{/if}}

    <a href="#" class="button-hidden" id="buttonToTop"> H8 </a> <!-- Boton para subir -->

</div>