<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juan Cruz Bolatti - Desarrollador Web</title>

    <!-- Normalize -->
    <link rel="stylesheet" href="/style/normalize.css">
    <!-- Main Styles -->
    <link rel="stylesheet" href="/style/style.css">

</head>

<body>

    <div class="cursor-ball display-pc">
        <svg height="10" width="10">
            <circle cx="5" cy="5" r="4" stroke-width="0"></circle>
        </svg>
    </div>

    <div class="background-blur"></div>

    <div class="background-bubble">
        <div id="bubble-01"></div>
        <div id="bubble-02"></div>
        <div id="bubble-03"></div>
    </div>

    {{> navbar }}

    {{{ body }}}

    <!--  -->

    <!-- Main Scripts -->
    <script src="/js/script.js"></script>
</body>

</html>