{{> head }}

    <div class="background-blur"></div>

    <div class="background-bubble">
        <div id="bubble-01"></div>
        <div id="bubble-02"></div>
        <div id="bubble-03"></div>
    </div>

    {{> navbar }}

    {{{ body }}}

{{> footer }}