.about {
    width: 100%;
    background: rgb(231,231,231);
    background: linear-gradient(129deg, rgba(231,231,231,0.1) 0%, rgba(159,159,159,0.1) 100%);
    -webkit-backdrop-filter: saturate(180%) blur(200px);
    backdrop-filter: saturate(180%) blur(200px);
    padding-top: 2rem;


}