// variables
$background-color: #181717;
$color-base: #fff;
$color-about: #8f57ff;
$color-whatido: #ff8457;
$color-work: #57eeff;
$color-contact: #576bff;

/* Fonts */
@font-face {
    font-family: "nunitoSans";
    src: url("/fonts/nunitoSans.woff2") format('woff2');
    font-weight: 0 1000;
    font-display: swap;
}

@font-face {
    font-family: "spaceMonoRegular";
    src: url("/fonts/SpaceMono-Regular.ttf");
}

/* Bases */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: inherit;
    outline: none;

    &:before,
    &:after {
        box-sizing: inherit;
        outline: none;
    }
}

body {
    font-family: "nunitoSans", helvetica;
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: $background-color;
    color: #fff;
    cursor: none;
}

/* Selection */
::selection {
    color: #181717;
    background: #edecf1;
}

/** Global **/
a {
    text-decoration: none;
    color: #ffffff;
    cursor: none !important;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4vw;
    letter-spacing: -0.3vw;
    width: 100%;
    margin: 0;
    opacity: 0.9;
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 4rem;
    }
}

/** Utilities **/
/* Usuals */
.fullscreen {
    position: relative;
    width: 100vw;
    width: calc(var(--vw, 1vw) * 100);
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    .column {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: start;
    }
}

@media only screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        gap: 1rem;

        .column {
            gap: 1rem;
        }
    }
}

.subtitle {
    margin: 0 0 1rem;
    font-size: 1vw;
    font-weight: 200;
    line-height: 1vw;
    letter-spacing: 1px;
    font-family: 'spaceMonoRegular', Helvetica;
}

@media only screen and (max-width: 1280px) {
    .subtitle {
        font-size: 1.2vw;
        line-height: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .subtitle {
        font-size: 2rem;
        line-height: 2rem;
    }
}

.card {
    // background: rgb(231, 231, 231);
    // background: linear-gradient(129deg, rgba(231, 231, 231, 0.1) 0%, rgba(159, 159, 159, 0.1) 100%);
    // -webkit-backdrop-filter: saturate(180%) blur(100px);
    // backdrop-filter: saturate(180%) blur(100px);
    // border: 1px solid rgba(231, 231, 231, 0.266);

    background: rgb(0, 0, 0);
    background: rgba(47, 47, 47, 0.502);
    -webkit-backdrop-filter: saturate(280%) blur(150px);
    backdrop-filter: saturate(280%) blur(150px);
    border: 1px solid rgba(231, 231, 231, 0.1);
    border-radius: 13px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .card {
        background: rgb(46, 46, 46);
        background: linear-gradient(129deg, rgba(53, 53, 53, 0.5) 0%, rgba(94, 94, 94, 0.5) 100%);
        -webkit-backdrop-filter: saturate(180%) blur(10px);
        backdrop-filter: saturate(180%) blur(10px);
    }
}

/* Displays */
.display-mobile {
    display: none !important;
}

.display-pc {
    display: block !important;
}

.display-pc-flex {
    display: flex !important;
}

@media only screen and (max-width: 768px) {
    .display-mobile {
        display: block !important;
    }

    .display-pc,
    .display-pc-flex {
        display: none !important;
    }
}

.hidden {
    opacity: 0 !important;
}

.display-none {
    display: none !important;
}

/* Containers */
.container {
    width: 85%;
    max-width: 150rem;
    margin: 0 auto;
}