.home {
    margin-top: 28vh;
    text-align: center;
    position: relative;

    p {
        width: 100%;
        font-size: 3.2vw;
        line-height: 3.2vw;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 1rem;
        margin: 0 0 1.2rem;
    }

    div {
        position: relative;

        h1,
        h2 {
            position: absolute;
            width: 100%;
            font-size: 8.7vw;
            line-height: 8.7vw;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: -10px;
            margin: 0;
            opacity: 0.9;
        }

        h2 {
            opacity: 0;
        }
    }
}

@media only screen and (max-width: 768px) {
    .home {
        p {
            font-size: 5vw;
            line-height: 3.2vw;
            letter-spacing: 0.5rem;
            margin: 0 0 1.2rem;
        }

        div {
    
            h1,
            h2 {
                font-size: 10vw;
                line-height: 10vw;
                letter-spacing: -2px;
            }
        }
    }
}
