.brand-color {
    div {
        &:nth-of-type(2) {
            .brand-01 {
                background-image: url("../img/nama/nama_color_01.png");
            }

            .brand-02 {
                background-image: url("../img/nama/nama_color_02.png");
            }

            .brand-03 {
                background-image: url("../img/nama/nama_color_03.png");
            }

            .brand-04 {
                background-image: url("../img/nama/nama_color_04.png");
            }
        }
    }
}