@charset "UTF-8";
/** Basic **/
/* Fonts */
@font-face {
  font-family: "nunitoSans";
  src: url("/fonts/nunitoSans.woff2") format("woff2");
  font-weight: 0 1000;
  font-display: swap;
}
@font-face {
  font-family: "spaceMonoRegular";
  src: url("/fonts/SpaceMono-Regular.ttf");
}
/* Bases */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
  outline: none;
}
*:before, *:after {
  box-sizing: inherit;
  outline: none;
}

body {
  font-family: "nunitoSans", helvetica;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #181717;
  color: #fff;
  cursor: none;
}

/* Selection */
::-moz-selection {
  color: #181717;
  background: #edecf1;
}
::selection {
  color: #181717;
  background: #edecf1;
}

/** Global **/
a {
  text-decoration: none;
  color: #ffffff;
  cursor: none !important;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4vw;
  letter-spacing: -0.3vw;
  width: 100%;
  margin: 0;
  opacity: 0.9;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 4rem;
  }
}
/** Utilities **/
/* Usuals */
.fullscreen {
  position: relative;
  width: 100vw;
  width: calc(var(--vw, 1vw) * 100);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.grid-container .column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .grid-container .column {
    gap: 1rem;
  }
}
.subtitle {
  margin: 0 0 1rem;
  font-size: 1vw;
  font-weight: 200;
  line-height: 1vw;
  letter-spacing: 1px;
  font-family: "spaceMonoRegular", Helvetica;
}

@media only screen and (max-width: 1280px) {
  .subtitle {
    font-size: 1.2vw;
    line-height: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .subtitle {
    font-size: 2rem;
    line-height: 2rem;
  }
}
.card {
  background: rgb(0, 0, 0);
  background: rgba(47, 47, 47, 0.502);
  -webkit-backdrop-filter: saturate(280%) blur(150px);
  backdrop-filter: saturate(280%) blur(150px);
  border: 1px solid rgba(231, 231, 231, 0.1);
  border-radius: 13px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .card {
    background: rgb(46, 46, 46);
    background: linear-gradient(129deg, rgba(53, 53, 53, 0.5) 0%, rgba(94, 94, 94, 0.5) 100%);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
  }
}
/* Displays */
.display-mobile {
  display: none !important;
}

.display-pc {
  display: block !important;
}

.display-pc-flex {
  display: flex !important;
}

@media only screen and (max-width: 768px) {
  .display-mobile {
    display: block !important;
  }
  .display-pc,
  .display-pc-flex {
    display: none !important;
  }
}
.hidden {
  opacity: 0 !important;
}

.display-none {
  display: none !important;
}

/* Containers */
.container {
  width: 85%;
  max-width: 150rem;
  margin: 0 auto;
}

body {
  background-color: #f3f3f3;
  color: #272727;
}

::-moz-selection {
  color: #edecf1;
  background: #181717;
}

::selection {
  color: #edecf1;
  background: #181717;
}

h4 {
  font-size: 4vw;
  line-height: 4vw;
  margin: 0;
  font-weight: 700;
}

p {
  font-size: 1.2vw;
  text-indent: 2rem;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  h4 {
    font-size: 4rem;
    line-height: 4rem;
  }
  p {
    font-size: 1.7rem;
    line-height: 2.3rem;
    text-indent: 2rem;
    text-align: justify;
  }
}
/** Specials **/
/* Cursor */
.cursor-ball {
  pointer-events: none;
  position: fixed;
  top: 1vw;
  left: 3.15vw;
  mix-blend-mode: difference;
  z-index: 1000;
  transition: transform 0.2s ease-in-out;
}
.cursor-ball circle {
  fill: #ffffff;
  transition: fill 0.3s ease-in-out;
}

/* Background */
.background-bubble {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -50;
  animation: backgroundRotate 20s linear infinite;
}
.background-bubble #bubble-01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 25rem;
  height: 15rem;
  background-color: #4a86b0;
  border-radius: 50%;
  transform: rotate(-45deg);
  transition: background-color 0.6s ease-in-out;
}
.background-bubble #bubble-02 {
  position: absolute;
  bottom: 0;
  left: -10rem;
  width: 24rem;
  height: 15rem;
  background-color: #5268b6;
  border-radius: 30%;
  transition: background-color 0.6s ease-in-out;
}
.background-bubble #bubble-03 {
  position: absolute;
  top: 0;
  right: 0;
  width: 22rem;
  height: 26rem;
  background-color: #7e52b4;
  border-radius: 40%;
  transform: rotate(-45deg);
  transition: background-color 0.6s ease-in-out;
}

.background-blur {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -20;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}

@keyframes backgroundRotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@media only screen and (max-width: 1280px) {
  .background-bubble {
    animation-duration: 10s;
  }
}
@media only screen and (max-width: 768px) {
  .background-bubble {
    animation-duration: 15s;
  }
}
/** Navbar **/
.pres-navbar {
  height: 98vh;
  width: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 1vh;
  left: 1vh;
  margin: 0;
  border-radius: 13px;
  padding: 2vh 0;
  z-index: 50;
  overflow: hidden;
  background: rgb(var(--color-gradient-01));
  background: linear-gradient(105deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
  border: 1px solid rgba(var(--color-gradient-01), 1);
}
.pres-navbar a {
  width: 90%;
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;
}
.pres-navbar a.button-hidden {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}

/** Hero **/
.hero {
  margin-left: calc(1vh + 5.5rem + 1vh);
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10vh;
  width: auto;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  background-image: var(--corner-image);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: -1vh;
  right: 0;
  width: 30rem;
  aspect-ratio: 1;
  z-index: -1;
}
.hero .hero-image {
  background-image: var(--banner-image);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 98vh;
  width: 45%;
  border-radius: 13px;
  position: relative;
}
.hero .hero-image div {
  position: absolute;
  bottom: 9%;
  right: 7%;
  border-radius: 26px;
  background-color: #ffffff;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem 2.5rem;
  transition: 0.2s ease-in-out;
  outline: 5px solid transparent;
}
.hero .hero-image div a,
.hero .hero-image div p {
  margin: 0;
  padding: 0;
  text-indent: 0;
  font-family: "spaceMonoRegular", Helvetica;
}
.hero .hero-image div p {
  font-weight: 800;
  font-size: 1.7rem;
  color: rgb(var(--color-main));
}
.hero .hero-image div a {
  font-weight: 600;
  color: #181717;
  font-size: 1.7rem;
}
.hero .hero-image div a:first-of-type {
  margin-bottom: 1rem;
}
.hero .hero-image:hover div {
  outline: 5px solid rgba(var(--color-gradient-01), 1);
}
.hero .hero-content {
  margin-top: 5vw;
  width: 40%;
}
.hero .hero-content h1 {
  position: relative;
  font-size: 6vw;
  line-height: 6.2vw;
  margin: 0;
}
.hero .hero-content h1::before {
  content: "#Presentación";
  position: absolute;
  top: -3.5vw;
  left: -1rem;
  font-family: "spaceMonoRegular", Helvetica;
  font-size: 1.6vw;
}
.hero .hero-content h3 {
  font-family: "spaceMonoRegular", Helvetica;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-weight: 800;
  margin: 0;
  margin-top: 1.6vw;
}
.hero .hero-content p {
  line-height: 1.3vw;
  margin: 0.4vw 0 0;
}
.hero .hero-content div {
  margin-top: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.hero .hero-content div a {
  height: 8vw;
  width: 3vw;
  text-align: center;
  border-radius: 13px;
  padding: 2rem;
  background: rgb(var(--color-gradient-01));
  background: linear-gradient(-45deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
  border: 1px solid rgba(var(--color-gradient-01), 1);
  background-size: 200% !important;
  background-position: 0%;
  transition: 0.2s ease-in-out;
}
.hero .hero-content div a:hover {
  background-position: 90%;
}
.hero .hero-content div a svg {
  height: 100%;
}

/** Sections **/
.sections-container {
  width: calc(100% - (3vh + 5.5rem));
  margin-left: calc(2vh + 5.5rem);
  margin-top: 1vh;
}

/* Concept */
.concept {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1vh;
  height: 35vh;
}
.concept div {
  height: 100%;
}
.concept .concept-info {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 20%;
}
.concept .concept-info > div:first-of-type {
  height: 70%;
  border-radius: 13px;
  background-color: #ffffff;
}
.concept .concept-info > div:last-of-type {
  height: 30%;
  border-radius: 13px;
  background: rgb(var(--color-gradient-01));
  background: linear-gradient(105deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
  border: 1px solid rgba(var(--color-gradient-01), 1);
}
.concept .concept-info > div:last-of-type p {
  font-size: 1.5rem;
  color: #f3f3f3;
  font-family: "spaceMonoRegular", Helvetica;
}
.concept .concept-title {
  width: 60%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: space-between;
  padding: 0 1vh;
  align-items: center;
  border-radius: 13px;
}
.concept .concept-title > div:last-of-type {
  width: 6vw;
  height: calc(100% - 1.9vh);
  border-radius: 13px;
  background: rgb(var(--color-gradient-01));
  background: linear-gradient(180deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
  border: 1px solid rgba(var(--color-gradient-01), 1);
}
.concept .concept-content {
  width: 30%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
}
.concept .concept-content p {
  position: relative;
}
.concept .concept-content p::after {
  content: "";
  width: 90%;
  height: 3px;
  background: rgb(var(--color-gradient-01));
  background: linear-gradient(90deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Banners */
.pres-divider {
  height: 5.5rem;
  border-radius: 13px;
  background: rgb(var(--color-gradient-01));
  background: linear-gradient(75deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
  border: 1px solid rgba(var(--color-gradient-01), 1);
}

/* Color */
.color {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1vh;
  height: 45vh;
}
.color div {
  height: 100%;
}
.color .color-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.color .color-content > div:first-of-type {
  background-color: #ffffff;
  height: 70%;
  border-radius: 13px;
}
.color .color-content > div:last-of-type {
  height: 30%;
  display: flex;
  flex-direction: row;
  gap: 1vh;
}
.color .color-content > div:last-of-type div {
  width: 30%;
  background-color: #ff8c00;
  border-radius: 13px;
}
.color .color-content > div:last-of-type div:first-of-type {
  width: 20%;
  background-color: #ff0090;
  border-radius: 13px;
}
.color .color-content > div:last-of-type div:last-of-type {
  width: 50%;
  background-color: #00bbff;
  border-radius: 13px;
}
.color .color-texture {
  width: 30%;
  border-radius: 13px;
  background: rgb(var(--color-gradient-01));
  background: linear-gradient(-45deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
  border: 1px solid rgba(var(--color-gradient-01), 1);
}

/* Structure */
.structure {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1vh;
  height: 35vh;
}
.structure div {
  height: 100%;
  border-radius: 13px;
}
.structure .structure-image {
  width: 40%;
  background: rgb(var(--color-gradient-01));
  background: linear-gradient(45deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
  border: 1px solid rgba(var(--color-gradient-01), 1);
}
.structure .structure-content {
  width: 40%;
  background-color: #ffffff;
}
.structure .structure-info {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.structure .structure-info > div {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.structure .structure-info > div p {
  width: 100%;
}
.structure .structure-info > div div {
  width: calc(100% - 2vh);
  height: 6vh;
  background: rgb(var(--color-gradient-01));
  background: linear-gradient(45deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
  border: 1px solid rgba(var(--color-gradient-01), 1);
  margin-bottom: 1vh;
}

/* Font */
.font {
  display: flex;
  flex-direction: row;
  height: 35vh;
  gap: 1vh;
}
.font div {
  height: 100%;
  border-radius: 13px;
}
.font > div:first-of-type {
  background: rgb(var(--color-gradient-01));
  background: linear-gradient(45deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
  border: 1px solid rgba(var(--color-gradient-01), 1);
  width: 60%;
}
.font > div:last-of-type {
  background-color: #00bbff;
  color: #fff;
  width: 40%;
}

/* Aplication */
.aplication {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.aplication .aplication-banner {
  background: rgb(var(--color-gradient-01));
  background: linear-gradient(45deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
  border: 1px solid rgba(var(--color-gradient-01), 1);
  border-radius: 13px;
  height: 40vh;
  width: 100%;
}
.aplication .aplication-images {
  display: flex;
  flex-direction: row;
  gap: 1vh;
  height: 25vh;
}
.aplication .aplication-images div {
  background: rgb(var(--color-gradient-01));
  background: linear-gradient(45deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
  border: 1px solid rgba(var(--color-gradient-01), 1);
  border-radius: 13px;
}
.aplication .aplication-images > div:nth-of-type(1) {
  width: 25%;
}
.aplication .aplication-images > div:nth-of-type(2) {
  width: 35%;
}
.aplication .aplication-images > div:nth-of-type(3) {
  width: 40%;
}

/* Tech */
.tech {
  display: flex;
  flex-direction: row;
  gap: 1vh;
  height: 20vh;
  justify-content: space-between;
}
.tech ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1vh;
  background-color: #fff;
  justify-content: space-between;
}
.tech ul li {
  height: 100%;
}

/** Contact **/
.contact {
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  background-color: #121111;
  padding: 4rem 0 3rem;
  margin-top: 10vh;
  position: relative;
  z-index: 11;
}
.contact h2 {
  color: #fff;
}
.contact .contact-content {
  width: 70%;
  margin: 0 auto;
  padding: 3rem 0 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.contact .contact-content div {
  display: flex;
  flex-direction: column;
}
.contact .contact-content div a {
  font-size: 1.55vw;
  font-weight: 900;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  opacity: 0.9;
  position: relative;
}
.contact .contact-content div a::before {
  content: "";
  position: absolute;
  top: 0.725vw;
  left: -3.5rem;
  background-color: #fff;
  width: 2.5rem;
  height: 0.9vw;
  -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
  transition: 0.3s ease-in-out;
  z-index: -1;
}
.contact .contact-content div a:hover::before {
  width: calc(100% + 6.5rem);
  background-color: rebeccapurple;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.contact .contact-content div #anchor-ig:hover::before {
  background-color: #ff214c;
}
.contact .contact-content div #anchor-li:hover::before {
  background-color: #0a63bc;
}
.contact .contact-content div #anchor-re:hover::before {
  background-color: #ff4500;
}
.contact .contact-content div #anchor-cp:hover::before {
  background-color: #3a393f;
}
.contact .contact-content div #anchor-gh:hover::before {
  background-color: #e84e31;
}
.contact .contact-content div #anchor-py:hover::before {
  background-color: #e83180;
}
.contact .contact-content div #anchor-yt:hover::before {
  background-color: #fa1c1c;
}
.contact .contact-content div p {
  margin: 0;
  color: #b8b8b8;
  font-family: "spaceMonoRegular";
}

@media only screen and (max-width: 768px) {
  .contact .contact-content {
    flex-direction: column;
    padding: 2rem 0;
    width: 60%;
  }
  .contact .contact-content div a {
    font-size: 1.8rem;
  }
  .contact .contact-content div a::before {
    top: 0.6rem;
    left: -3rem;
    height: 1.5rem;
  }
  .contact .contact-content div:last-of-type a {
    font-size: 1.2rem;
  }
  .contact .contact-content div:last-of-type a::before {
    width: 0;
  }
}/*# sourceMappingURL=presentation.css.map */