/** Basic **/
@import 'basic';

$background-color: #f5f5f5;

body {
    background-color: $background-color;
    color: #272727;
}

::selection {
    color: #edecf1;
    background: #181717;
}

h4 {
    font-size: 4vw;
    line-height: 4vw;
    margin: 0;
    font-weight: 700;
}

p {
    font-size: 1.2vw;
    text-indent: 2rem;
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    h4 {
        font-size: 4rem;
        line-height: 4rem;
    }

    p {
        font-size: 1.7rem;
        line-height: 2.3rem;
        text-indent: 2rem;
        text-align: justify;
    }
}

/** Specials **/ 
@import 'specials';

/** Presentation: Global **/


/** Brand **/
@import 'brand';

/** Web **/
@import 'web';

/** Project **/
@import 'project';

/** Contact **/
@import 'contact';