/** Basic **/
@import 'basic';

$background-color: #f3f3f3;

:root {
    --color-main: #663399;
    --color-gradient-01: 170, 85, 255;
    --color-gradient-02: 73, 1, 144;
    --banner-image: url("../img/brand_banner.webp");
    --corner-image: url("../img/brand_banner.webp");
}

body {
    background-color: $background-color;
    color: #272727;
}

::selection {
    color: #edecf1;
    background: #181717;
}

h4 {
    font-size: 4vw;
    line-height: 4vw;
    margin: 0;
    font-weight: 700;
}

p {
    font-size: 1.2vw;
    text-indent: 2rem;
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    h4 {
        font-size: 4rem;
        line-height: 4rem;
    }

    p {
        font-size: 1.7rem;
        line-height: 2.3rem;
        text-indent: 2rem;
        text-align: justify;
    }
}

/** Specials **/
@import 'specials';

/** Navbar **/
.pres-navbar {
    height: 98vh;
    width: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 1vh;
    left: 1vh;
    margin: 0;
    border-radius: 13px;
    padding: 2vh 0;
    z-index: 50;
    overflow: hidden;

    background: rgb(var(--color-gradient-01));
    background: linear-gradient(105deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
    border: 1px solid rgba(var(--color-gradient-01), 1);

    a {
        width: 90%;
        text-align: center;
        transition: transform 0.3s ease, opacity 0.3s ease;
        opacity: 1;

        &.button-hidden {
            opacity: 0;
            transform: translateY(-100%);
            pointer-events: none;
        }
    }
}

/** Hero **/
.hero {
    margin-left: calc(1vh + 5.5rem + 1vh);
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10vh;
    width: auto;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: var(--banner-image);
        top: -1vh;
        right: 0;
        width: 50rem;
        aspect-ratio: 1;
        z-index: -1;
    }

    .hero-image {
        background-image: var(--corner-image);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 98vh;
        width: 45%;
        border-radius: 13px;
        position: relative;

        div {
            position: absolute;
            bottom: 9%;
            right: 7%;
            border-radius: 26px;
            background-color: #ffffff;
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 2rem 2.5rem;
            transition: .2s ease-in-out;
            outline: 5px solid transparent;

            a,
            p {
                margin: 0;
                padding: 0;
                text-indent: 0;
                font-family: 'spaceMonoRegular', Helvetica;
            }

            p {
                font-weight: 800;
                font-size: 1.7rem;
                color: var(--color-main);
            }

            a {
                font-weight: 600;
                color: #181717;
                font-size: 1.7rem;

                &:first-of-type {
                    margin-bottom: 1rem;
                }
            }
        }

        &:hover {
            div {
                outline: 5px solid rgba(var(--color-gradient-01), 1);
            }
        }
    }

    .hero-content {
        margin-top: 5vw;
        width: 40%;

        h1 {
            position: relative;
            font-size: 6vw;
            line-height: 6.2vw;
            margin: 0;

            &::before {
                content: "#Presentación";
                position: absolute;
                top: -3.5vw;
                left: -1rem;
                font-family: 'spaceMonoRegular', Helvetica;
                font-size: 1.6vw;
            }
        }

        h3 {
            font-family: 'spaceMonoRegular', Helvetica;
            font-size: 1.2vw;
            line-height: 1.2vw;
            font-weight: 800;
            margin: 0;
            margin-top: 1.6vw;
        }

        p {
            line-height: 1.3vw;
            margin: 0.4vw 0 0;
        }

        div {
            margin-top: 5vw;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            a {
                height: 8vw;
                width: 3vw;
                text-align: center;
                border-radius: 13px;

                background: rgb(var(--color-gradient-01));
                background: linear-gradient(-45deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
                border: 1px solid rgba(var(--color-gradient-01), 1);
                background-size: 200%!important;
                background-position: 0%;

                transition: .2s ease-in-out;

                &:hover {
                    background-position: 90%;
                }
            }
        }
    }
}

/** Sections **/
.sections-container {
    width: calc(100% - (3vh + 5.5rem));
    margin-left: calc(2vh + 5.5rem);
    margin-top: 1vh;
}


/* Concept */
.concept {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1vh;
    height: 35vh;

    div {
        height: 100%;
    }

    .concept-info {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        width: 20%;

        &>div:first-of-type {
            height: 70%;
            border-radius: 13px;
            background-color: #ffffff;
        }

        &>div:last-of-type {
            height: 30%;
            border-radius: 13px;
            background: rgb(var(--color-gradient-01));
            background: linear-gradient(105deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
            border: 1px solid rgba(var(--color-gradient-01), 1);
            
            p {
                font-size: 1.5rem;
                color: #f3f3f3;
                font-family: 'spaceMonoRegular', Helvetica;
            }
        }
    }

    .concept-title {
        width: 60%;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        gap: 1vw;
        justify-content: space-between;
        padding: 0 1vh;
        align-items: center;
        border-radius: 13px;

        // &>div:first-of-type {
        // }

        &>div:last-of-type {
            width: 6vw;
            height: calc(100% - 1.9vh);
            border-radius: 13px;
            background: rgb(var(--color-gradient-01));
            background: linear-gradient(180deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
            border: 1px solid rgba(var(--color-gradient-01), 1);
        }
    }

    .concept-content {
        width: 30%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        border-radius: 13px;

        p {
            position: relative;

            &::after {
                content: "";
                width: 90%;
                height: 3px;
                background: rgb(var(--color-gradient-01));
                background: linear-gradient(90deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}

/* Banners */
.pres-divider {
    height: 5.5rem;
    border-radius: 13px;
    background: rgb(var(--color-gradient-01));
    background: linear-gradient(75deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
    border: 1px solid rgba(var(--color-gradient-01), 1);
}

/* Color */
.color {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1vh;
    height: 45vh;

    div {
        height: 100%;
    }

    .color-content {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 1vh;
        
        &>div:first-of-type {
            background-color: #ffffff;
            height: 70%;
            border-radius: 13px;
        }

        &>div:last-of-type {
            height: 30%;
            display: flex;
            flex-direction: row;
            gap: 1vh;

            div {
                width: 30%;
                background-color: #ff8c00;
                border-radius: 13px;
            }

            div:first-of-type {
                width: 20%;
                background-color: #ff0090;
                border-radius: 13px;
            }

            div:last-of-type {
                width: 50%;
                background-color: #00bbff;
                border-radius: 13px;
            }
        }
    }

    .color-texture {
        width: 30%;
        border-radius: 13px;
        background: rgb(var(--color-gradient-01));
        background: linear-gradient(-45deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
        border: 1px solid rgba(var(--color-gradient-01), 1);
    }
}

/* Structure */
.structure {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1vh;
    height: 35vh;

    div {
        height: 100%;
        border-radius: 13px;
    }

    .structure-image {
        width: 40%;
        background: rgb(var(--color-gradient-01));
        background: linear-gradient(45deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
        border: 1px solid rgba(var(--color-gradient-01), 1);
    }

    .structure-content {
        width: 40%;
        background-color: #ffffff;
    }

    .structure-info {
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 1vh;

        &>div {
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            p {
                width: 100%;
            }

            div {
                width: calc(100% - 2vh);
                height: 6vh;
                background: rgb(var(--color-gradient-01));
                background: linear-gradient(45deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
                border: 1px solid rgba(var(--color-gradient-01), 1);
                margin-bottom: 1vh;
            }
        }
    }
}

/* Font */
.font {
    display: flex;
    flex-direction: row;
    height: 35vh;
    gap: 1vh;

    div {
        height: 100%;
        border-radius: 13px;
    } 

    &>div:first-of-type {
        background: rgb(var(--color-gradient-01));
        background: linear-gradient(45deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
        border: 1px solid rgba(var(--color-gradient-01), 1);
        width: 60%;
    }

    &>div:last-of-type {
        background-color: #00bbff;
        color: #fff;
        width: 40%;
    }
}

/* Aplication */
.aplication {
    display: flex;
    flex-direction: column;
    gap: 1vh;

    .aplication-banner {
        background: rgb(var(--color-gradient-01));
        background: linear-gradient(45deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
        border: 1px solid rgba(var(--color-gradient-01), 1);
        border-radius: 13px;
        height: 40vh;
        width: 100%;
    }

    .aplication-images {
        display: flex;
        flex-direction: row;
        gap: 1vh;
        height: 25vh;

        div {
            background: rgb(var(--color-gradient-01));
            background: linear-gradient(45deg, rgba(var(--color-gradient-01), 1) 0%, rgba(var(--color-gradient-02), 1) 100%);
            border: 1px solid rgba(var(--color-gradient-01), 1);
            border-radius: 13px;
        }

        &>div:nth-of-type(1) {
            width: 25%;
        }

        &>div:nth-of-type(2) {
            width: 35%;
        }

        &>div:nth-of-type(3) {
            width: 40%;
        }
    }
}

/* Tech */
.tech {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    height: 20vh;
    justify-content: space-between;

    ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 1vh;
        background-color: #fff;
        justify-content: space-between;

        li {
            height: 100%;
        }
    }
}

/** Contact **/
@import 'contact';