/* Fonts */
@font-face {
  font-family: "nunitoSans";
  src: url("/fonts/nunitoSans.ttf");
}
@font-face {
  font-family: "spaceMonoRegular";
  src: url("/fonts/SpaceMono-Regular.ttf");
}
/* Bases */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
  outline: none;
}
*:before, *:after {
  box-sizing: inherit;
  outline: none;
}

body {
  font-family: "nunitoSans", helvetica;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #181717;
  color: #fff;
  cursor: none;
}

/* Selection */
::-moz-selection {
  color: #181717;
  background: #edecf1;
}
::selection {
  color: #181717;
  background: #edecf1;
}

/** Global **/
a {
  text-decoration: none;
  color: #ffffff;
  cursor: none !important;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4vw;
  letter-spacing: -0.3vw;
  width: 100%;
  margin: 0;
  opacity: 0.9;
}

/** Utilities **/
/* Usuals */
.fullscreen {
  position: relative;
  width: 100vw;
  width: calc(var(--vw, 1vw) * 100);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.design-title {
  color: #ff7700;
}

.brand-title {
  color: #00ffe1;
}

.image-title {
  color: #0080ff;
}

.drafting-title {
  color: #5500ff;
}

.subtitle {
  margin: 0 0 1rem;
  font-size: 1vw;
  line-height: 1vw;
  letter-spacing: 1px;
  font-family: "spaceMonoRegular", Helvetica;
}

@media only screen and (max-width: 768px) {
  .subtitle {
    font-size: 2rem;
    line-height: 2rem;
  }
}
.card {
  background: rgb(231, 231, 231);
  background: linear-gradient(129deg, rgba(231, 231, 231, 0.1) 0%, rgba(159, 159, 159, 0.1) 100%);
  -webkit-backdrop-filter: saturate(180%) blur(200px);
  backdrop-filter: saturate(180%) blur(200px);
  border: 1px solid rgba(231, 231, 231, 0.266);
  border-radius: 13px;
  width: 100%;
}

/* Displays */
.display-mobile {
  display: none !important;
}

.display-pc {
  display: block !important;
}

@media only screen and (max-width: 768px) {
  .display-mobile {
    display: block !important;
  }
  .display-pc {
    display: none !important;
  }
}
.hidden {
  opacity: 0 !important;
}

.display-none {
  display: none !important;
}

/* Containers */
.container {
  width: 85%;
  max-width: 150rem;
  margin: 0 auto;
}

/** Specials **/
/* Cursor */
.cursor-ball {
  pointer-events: none;
  position: fixed;
  top: 1vw;
  left: 3.15vw;
  mix-blend-mode: difference;
  z-index: 1000;
  transition: transform 0.2s ease-in-out;
}
.cursor-ball circle {
  fill: #ffffff;
  transition: fill 0.3s ease-in-out;
}

/* Background */
.background-bubble {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -50;
  animation: backgroundRotate 20s linear infinite;
}
.background-bubble #bubble-01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 25rem;
  height: 15rem;
  background-color: #4a86b0;
  border-radius: 50%;
  transform: rotate(-45deg);
}
.background-bubble #bubble-02 {
  position: absolute;
  bottom: 0;
  left: -10rem;
  width: 24rem;
  height: 15rem;
  background-color: #5268b6;
  border-radius: 30%;
}
.background-bubble #bubble-03 {
  position: absolute;
  top: 0;
  right: 0;
  width: 22rem;
  height: 26rem;
  background-color: #7e52b4;
  border-radius: 40%;
  transform: rotate(-45deg);
}

.background-blur {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -20;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}

@keyframes backgroundRotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
/** Navbar **/
.header {
  /* Logo */
  /* Navbar */
  /* Socials */
  /* Corner */
}
.header .logo-container .logo {
  position: fixed;
  top: 4.2vh;
  left: 2.2vw;
  width: 3.5vw;
  opacity: 0.9;
  z-index: 50;
}
.header .logo-container .logo svg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}
.header .logo-container .logo .logo-displayed {
  display: block;
}
.header .navbar {
  position: fixed;
  top: 4.2vh;
  right: 2.2vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.3rem;
  z-index: 50;
}
.header .navbar a {
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.7;
  letter-spacing: 1px;
  margin: 0;
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.header .navbar a:hover {
  opacity: 0.9;
}
.header .navbar a::before, .header .navbar a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
.header .navbar a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(-200%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}
.header .navbar a:hover::after {
  transform: translate3d(0, 0, 0);
}
.header .navbar a span {
  display: inline-block;
  transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}
.header .navbar a:hover span {
  transform: translate3d(200%, 0, 0);
}
.header .socials {
  position: fixed;
  bottom: 4.2vh;
  right: 2.2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  z-index: 10;
}
.header .socials a {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 900;
  color: #fff;
  opacity: 0.9;
  margin: 0;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
}
.header .socials a:hover {
  color: aqua;
}
.header .corner {
  font-family: "spaceMonoRegular", "nunitoSans", Helvetica;
  position: fixed;
  bottom: 4.2vh;
  left: 2.2vw;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  width: 50%;
  z-index: 50;
}
.header .corner div {
  position: absolute;
  display: none;
  width: 100%;
}
.header .corner div p,
.header .corner div a {
  display: block;
  color: #fff;
  opacity: 0.9;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 100;
}
.header .corner .corner-lenguages {
  flex-direction: row;
  gap: 2rem;
}
.header .corner .corner-lenguages a {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.8rem;
  transform: rotate(90deg);
  line-height: 1.3rem;
  width: 2rem;
}
.header .corner .corner-displayed {
  display: flex;
}

@media only screen and (max-width: 1280px) {
  .header .navbar {
    gap: 0;
  }
  .header .navbar a {
    font-size: 1.3rem;
  }
  .header .socials {
    gap: 1.2rem;
  }
  .header .socials a {
    font-size: 1.5rem;
  }
  .header .corner .corner-lenguages {
    gap: 1rem;
  }
  .header .corner .corner-lenguages a {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .header .logo-container .logo {
    width: 10vw;
    top: 3vh;
    left: 5vw;
  }
  .header .navbar {
    top: 3vh;
    right: 5vw;
  }
  .header .navbar a {
    font-weight: 700;
    font-size: 1.3rem;
  }
  .header .socials {
    bottom: 3vh;
    right: 5vw;
  }
  .header .corner {
    bottom: 3vh;
    left: 5vw;
  }
}
/** Home **/
.home {
  height: 72vh;
  margin-top: 28vh;
  text-align: center;
}
.home p {
  width: 100%;
  font-size: 3.2vw;
  line-height: 3.2vw;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.6vw;
  margin: 0 0 1.2rem;
}
.home div:first-of-type {
  position: relative;
}
.home div:first-of-type h1,
.home div:first-of-type h3 {
  position: absolute;
  width: 100%;
  font-size: 8.7vw;
  line-height: 8.7vw;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.6vw;
  margin: 0;
  opacity: 0.9;
}
.home div:first-of-type h3 {
  opacity: 0;
}
.home div:last-of-type {
  position: absolute;
  bottom: 0;
  left: calc(50% - 1.8rem);
  font-size: 6rem;
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 768px) {
  .home p {
    font-size: 5vw;
    line-height: 3.2vw;
    letter-spacing: 0.5rem;
    margin: 0 0 1.2rem;
  }
  .home div h1,
  .home div h2 {
    font-size: 10vw;
    line-height: 10vw;
    letter-spacing: -2px;
  }
}
/** About **/
.about {
  width: 100%;
  background: rgb(231, 231, 231);
  background: linear-gradient(129deg, rgba(231, 231, 231, 0.1) 0%, rgba(159, 159, 159, 0.1) 100%);
  -webkit-backdrop-filter: saturate(180%) blur(200px);
  backdrop-filter: saturate(180%) blur(200px);
  padding-top: 2rem;
}

/** What I Do **/
.what-i-do .what-i-do-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.what-i-do .what-i-do-content .what-i-do-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}
.what-i-do .what-i-do-content .what-i-do-column div {
  padding: 2rem;
}
.what-i-do .what-i-do-content .what-i-do-column div p {
  font-size: 0.9vw;
  line-height: 1.3vw;
  margin: 0;
  color: rgba(255, 255, 255, 0.95);
  text-indent: 1rem;
}
.what-i-do .what-i-do-content .what-i-do-column div h5 {
  font-size: 0.8vw;
  line-height: 0.8vw;
  letter-spacing: 1px;
  font-family: "spaceMonoRegular", Helvetica;
  margin: 2rem 0 1rem;
}

@media only screen and (max-width: 768px) {
  .what-i-do .what-i-do-content {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .what-i-do .what-i-do-content .what-i-do-column {
    gap: 1rem;
  }
  .what-i-do .what-i-do-content .what-i-do-column div h5 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .what-i-do .what-i-do-content .what-i-do-column div p {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
/** Knowledge **/
.knowledge .knowledge-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 2rem;
}
.knowledge .knowledge-content .knowledge-card {
  border-radius: 13px;
  padding: 2rem 2rem 1.5rem;
}
.knowledge .knowledge-content .knowledge-card:nth-child(1) {
  -webkit-backdrop-filter: hue-rotate(300deg);
  backdrop-filter: hue-rotate(300deg);
}
.knowledge .knowledge-content .knowledge-card ul {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.knowledge .knowledge-content .knowledge-card ul li {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}
.knowledge .knowledge-content .knowledge-card ul li div {
  width: 14%;
  aspect-ratio: 1;
  border-radius: 13px;
  overflow: hidden;
}
.knowledge .knowledge-content .knowledge-card ul li div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.knowledge .knowledge-content .knowledge-card ul li p {
  font-size: 0.9vw;
  line-height: 1.1vw;
  font-weight: 700;
  margin: 0;
  color: rgba(255, 255, 255, 0.95);
}
.knowledge .knowledge-content .knowledge-card h5 {
  position: relative;
  margin: 2rem 0 1rem;
  font-size: 0.8vw;
  line-height: 0.8vw;
  letter-spacing: 1px;
  font-family: "spaceMonoRegular", Helvetica;
}
.knowledge .knowledge-content .knowledge-card h5::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: -2.5%;
  width: 105%;
  height: 1px;
  background-color: rgba(231, 231, 231, 0.152);
}

@media only screen and (max-width: 768px) {
  .knowledge .knowledge-content {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .knowledge .knowledge-content .knowledge-card h5 {
    font-weight: 200;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .knowledge .knowledge-content .knowledge-card ul li p {
    font-size: 1.8rem;
  }
}
/** Work **/
.work {
  margin-top: 20vh;
}
.work .work-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.work .work-content .work-card-large {
  position: relative;
  height: 60vh;
  border-radius: 13px;
  overflow: hidden;
}
.work .work-content .work-card-large::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 13px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  z-index: 3;
  transition: 0.3s ease-in-out;
}
.work .work-content .work-card-large img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
}
.work .work-content .work-card-large .work-card-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 4;
  padding: 10rem 2rem 0rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.work .work-content .work-card-large .work-card-content h4 {
  margin: 0;
  font-size: 2.4vw;
  color: #fff;
  line-height: 2.4vw;
  transition: 0.3s ease-in;
}
.work .work-content .work-card-large .work-card-content p {
  width: 70%;
  margin: 0;
  color: #fff;
}
.work .work-content .work-card-large .work-card-content a {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  background-color: #fff;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 13px;
  outline: 0px solid rgba(64, 64, 170, 0.2);
  transition: 0.3s ease-in-out;
  transition: outline 0.15s ease-in-out;
  font-weight: 700;
}
.work .work-content .work-card-large .work-card-content a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  outline: 3px solid rgba(64, 64, 170, 0.6);
}
.work .work-content .work-card-large:hover::after {
  border: 4px solid rgba(255, 255, 255, 0.4);
}
.work .work-content .work-card-large:hover img {
  height: 105%;
}
.work .work-content .work-card-large:hover .work-card-content {
  opacity: 1;
  padding: 10rem 2rem 2rem;
}
.work .work-content .work-card-large:hover .work-card-content h4 {
  line-height: 4vw;
}
.work .work-content .work-card-small {
  background: rgb(142, 221, 236);
  background: linear-gradient(90deg, rgba(142, 221, 236, 0.3) 0%, rgba(64, 169, 170, 0.2) 100%);
  border: 1px solid rgba(64, 169, 170, 0.6);
  background-size: 200% !important;
  background-position: 0%;
  border-radius: 13px;
  overflow: hidden;
  padding: 2rem;
  transition: 0.3s ease-in-out;
}
.work .work-content .work-card-small h4 {
  margin: 0 0 1rem;
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1vw;
  transition: 0.3s ease-in;
}
.work .work-content .work-card-small p {
  font-size: 0.9vw;
  line-height: 1.1vw;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
}
.work .work-content .work-card-small:hover {
  background-position: 100% !important;
}
.work .work-content .work-card-small:nth-child(4) {
  background: rgb(94, 64, 170);
  background: linear-gradient(90deg, rgba(169, 142, 236, 0.3) 0%, rgba(94, 64, 170, 0.2) 100%);
  border: 1px solid rgb(94, 64, 170);
}
.work .work-content .work-card-small:last-child {
  background: rgb(236, 142, 166);
  background: linear-gradient(90deg, rgba(236, 142, 166, 0.3) 0%, rgba(170, 64, 95, 0.2) 100%);
  border: 1px solid rgba(170, 64, 95, 0.8);
}

@media only screen and (max-width: 768px) {
  .work .work-content {
    grid-template-columns: 1fr;
  }
  .work .work-content .work-card-large .work-card-content h4 {
    font-size: 3rem;
  }
  .work .work-content .work-card-large:hover .work-card-content h4 {
    line-height: 3rem;
  }
  .work .work-content .work-card-small h4 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .work .work-content .work-card-small p {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
/** Contact **/
.contact {
  background-color: #121111;
  padding-top: 2rem;
  margin-top: 10vh;
  position: relative;
  z-index: 11;
}
.contact .contact-content {
  width: 70%;
  margin: 0 auto;
  padding: 3rem 0 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.contact .contact-content div {
  display: flex;
  flex-direction: column;
}
.contact .contact-content div a {
  font-size: 1.55vw;
  font-weight: 900;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  opacity: 0.9;
  position: relative;
}
.contact .contact-content div a::before {
  content: "";
  position: absolute;
  top: 0.725vw;
  left: -3.5rem;
  background-color: #fff;
  width: 2.5rem;
  height: 0.9vw;
  -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
  transition: 0.3s ease-in-out;
  z-index: -1;
}
.contact .contact-content div a:hover::before {
  width: calc(100% + 3.5rem);
  background-color: rebeccapurple;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.contact .contact-content div #anchor-ig:hover::before {
  background-color: #ff214c;
}
.contact .contact-content div #anchor-tw:hover::before {
  background-color: #1c96e8;
}
.contact .contact-content div #anchor-yt:hover::before {
  background-color: #f60002;
}
.contact .contact-content div #anchor-fb:hover::before {
  background-color: #336baf;
}
.contact .contact-content div #anchor-li:hover::before {
  background-color: #0a63bc;
}
.contact .contact-content div #anchor-cp:hover::before {
  background-color: #3a393f;
}
.contact .contact-content div #anchor-gh:hover::before {
  background-color: #e84e31;
}
.contact .contact-content div p {
  margin: 0;
  color: #b8b8b8;
  font-family: "spaceMonoRegular";
}

@media only screen and (max-width: 768px) {
  .contact .contact-content {
    flex-direction: column;
    padding: 2rem 0;
    width: 60%;
  }
  .contact .contact-content div a {
    font-size: 1.8rem;
  }
  .contact .contact-content div a::before {
    top: 0.6rem;
    left: -3rem;
    height: 1.5rem;
  }
  .contact .contact-content div:last-of-type a {
    font-size: 1.2rem;
  }
  .contact .contact-content div:last-of-type a::before {
    width: 0;
  }
}/*# sourceMappingURL=style.css.map */