/* Fonts */
@font-face {
  font-family: "nunitoSans";
  src: url("/fonts/nunitoSans.ttf");
}
/* Bases */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
  outline: none;
}
*:before, *:after {
  box-sizing: inherit;
  outline: none;
}

body {
  font-family: "nunitoSans", helvetica;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #181717;
  color: #fff;
  cursor: none;
}

/* Selection */
::-moz-selection {
  color: #181717;
  background: #edecf1;
}
::selection {
  color: #181717;
  background: #edecf1;
}

/** Global **/
a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

/** Utilities **/
/* Usuals */
.fullscreen {
  position: relative;
  width: 100vw;
  width: calc(var(--vw, 1vw) * 100);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.design-title {
  color: #ff7700;
}

.brand-title {
  color: #00ffe1;
}

.image-title {
  color: #0080ff;
}

.drafting-title {
  color: #5500ff;
}

/* Displays */
.display-mobile {
  display: none !important;
}

.display-pc {
  display: block !important;
}

@media only screen and (max-width: 768px) {
  .display-mobile {
    display: block !important;
  }
  .display-pc {
    display: none !important;
  }
}
.hidden {
  opacity: 0 !important;
}

.display-none {
  display: none !important;
}

/* Containers */
.container {
  width: 85%;
  max-width: 150rem;
  margin: 0 auto;
}

/** Specials **/
/* Cursor */
.cursor-ball {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}
.cursor-ball circle {
  fill: #ffffff;
}

/* Background */
.background-bubble {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -50;
  animation: backgroundRotate 20s linear infinite;
}
.background-bubble #bubble-01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 25rem;
  height: 15rem;
  background-color: #4a86b0;
  border-radius: 50%;
  transform: rotate(-45deg);
}
.background-bubble #bubble-02 {
  position: absolute;
  bottom: 0;
  left: -10rem;
  width: 24rem;
  height: 15rem;
  background-color: #5268b6;
  border-radius: 30%;
}
.background-bubble #bubble-03 {
  position: absolute;
  top: 0;
  right: 0;
  width: 22rem;
  height: 26rem;
  background-color: #7e52b4;
  border-radius: 40%;
  transform: rotate(-45deg);
}

.background-blur {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -20;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}

@keyframes backgroundRotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
/** Navbar **/
.header {
  /* Logo */
  /* Navbar */
  /* Socials */
  /* Corner */
}
.header .logo-container .logo {
  position: fixed;
  top: 4.2vh;
  left: 2.2vw;
  width: 3.5vw;
  opacity: 0.9;
}
.header .logo-container .logo svg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}
.header .logo-container .logo .logo-displayed {
  display: block;
}
.header .navbar {
  position: fixed;
  top: 4.2vh;
  right: 2.2vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.3rem;
}
.header .navbar a {
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.7;
  letter-spacing: 1px;
  margin: 0;
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.header .navbar a:hover {
  opacity: 0.9;
}
.header .navbar a::before, .header .navbar a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
.header .navbar a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(-200%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}
.header .navbar a:hover::after {
  transform: translate3d(0, 0, 0);
}
.header .navbar a span {
  display: inline-block;
  transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}
.header .navbar a:hover span {
  transform: translate3d(200%, 0, 0);
}
.header .socials {
  position: fixed;
  bottom: 4.2vh;
  right: 2.2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.header .socials a {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 900;
  color: #fff;
  opacity: 0.9;
  margin: 0;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
}
.header .socials a:hover {
  color: aqua;
}
.header .corner {
  position: fixed;
  bottom: 4.2vh;
  left: 2.2vw;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  width: 50%;
}
.header .corner div {
  position: absolute;
  display: none;
  width: 100%;
}
.header .corner div p,
.header .corner div a {
  display: block;
  color: #fff;
  opacity: 0.9;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 100;
}
.header .corner .corner-lenguages {
  flex-direction: row;
  gap: 2rem;
}
.header .corner .corner-lenguages a {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.8rem;
  transform: rotate(90deg);
  line-height: 1.3rem;
  width: 2rem;
}
.header .corner .corner-displayed {
  display: flex;
}

@media only screen and (max-width: 1280px) {
  .header .navbar {
    gap: 0;
  }
  .header .navbar a {
    font-size: 1.3rem;
  }
  .header .socials {
    gap: 1.2rem;
  }
  .header .socials a {
    font-size: 1.5rem;
  }
  .header .corner .corner-lenguages {
    gap: 1rem;
  }
  .header .corner .corner-lenguages a {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .header .logo-container .logo {
    width: 10vw;
    top: 3vh;
    left: 5vw;
  }
  .header .navbar {
    top: 3vh;
    right: 5vw;
  }
  .header .navbar a {
    font-weight: 700;
    font-size: 1.3rem;
  }
  .header .socials {
    bottom: 3vh;
    right: 5vw;
  }
  .header .corner {
    bottom: 3vh;
    left: 5vw;
  }
}
/** Home **/
.home {
  margin-top: 28vh;
  text-align: center;
  position: relative;
}
.home p {
  width: 100%;
  font-size: 3.2vw;
  line-height: 3.2vw;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin: 0 0 1.2rem;
}
.home div {
  position: relative;
}
.home div h1,
.home div h2 {
  position: absolute;
  width: 100%;
  font-size: 8.7vw;
  line-height: 8.7vw;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -10px;
  margin: 0;
  opacity: 0.9;
}
.home div h2 {
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .home p {
    font-size: 5vw;
    line-height: 3.2vw;
    letter-spacing: 0.5rem;
    margin: 0 0 1.2rem;
  }
  .home div h1,
  .home div h2 {
    font-size: 10vw;
    line-height: 10vw;
    letter-spacing: -2px;
  }
}/*# sourceMappingURL=style.css.map */