<div class="brand-nav">
    <a href="/" class="brand-logo display-pc">&larr;</a>
    <a href="/" class="brand-logo display-mobile">&rdca;</a>
</div>

<section class="container">
    <div class="brand-banner">
        <img src="/img/brand_banner.webp" alt="Juan Cruz Bolatti Logo">

        <a href="#brandConcept" class="brand-arrow display-pc" id="brandConcept">
            <div></div>
            <div></div>
        </a>
    </div>
</section>

<section class="container brand-concept">
    <div>
        <h4>Concepto</h4>
        <p>Tras años de estudio en una industria monótona, nace Juan Cruza Bolatti como una marca de desarrollo web
            única, enfocada en soluciones que se adaptan al comportamiento natural del usuario, manteniendo coherencia
            visual y un flujo interactivo llamativo.</p>
        <p>Por eso se buscó desarrollar una marca personal que se pueda adaptar fácilmente a todos los medios digitales
            teniendo en cuenta el rumbo que esta tomando el diseño moderno.</p>
    </div>

    <div>
        <h5><span>Marca:</span> Juan Cruz Bolatti</h5>
        <p>Desarrollador web centrado en el diseño y en la experiencia del usuario.</p>

        <h5><span>Enfoques de Marca:</span></h5>
        <p>Moderno // Profesional // Llamativo</p>

        <h5><span>Usos Principales:</span></h5>
        <p>Digitales: tales como redes sociales, usos en web e incrustaciones en imágenes y videos.</p>
        <p>Físicos: como tarjetas de presentación o facturas.</p>
        <p>Firmas: tanto para páginas como para mails.</p>

        <h5><span>Año:</span> 2024</h5>
    </div>
</section>

<section class="container">
    <div class="brand-sketch">
        <img src="/img/banner_sketch.webp" alt="Boceto del logo de juan bolatti">
    </div>
</section>

<section class="container brand-color">
    <div>
        <h4>Paleta de Colores</h4>
        <p>La versatilidad es uno de los pilares fundamentales de la marca, es por eso que no podía encasillarse en una
            paleta de colores. Se desarrollaron diversos colores complementarios en formato de gradientes pero pueden
            utilizarse colores planos, o el mismo logo puede utilizar estos degrades. </p>
    </div>

    <div class="brand-palette">
        <div id="brand-palette-background">
            <svg class="logo-displayed" id="Capa_5" data-name="Capa 5" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 714.83 714.28">
                <defs>
                    <style>
                        .cls-1 {
                            fill: #fff;
                        }
                    </style>
                </defs>
                <polygon class="cls-1" points="322.01 0 322.01 83.76 214.87 190.9 214.87 0 322.01 0" />
                <path class="cls-1"
                    d="M714.83,571.47l-75.76,75.76L427.63,435.8a106.94,106.94,0,0,1-34.35-78.67q0-1.1,0-2.19a107,107,0,0,1,32.78-75l.46-.45,25-25,60.2-60.19,75.73-75.73a101.3,101.3,0,0,0-117.08,18.85L358.79,249l-.09-.09-17.34,17.34L322,285.58,214.87,392.72l-33.05,33,.09.09-.57.56L107.77,500l73.57,73.57,33.53,33.53v.44l.22-.22-.22-.22V443.24L322,336.1V607.83c0,58.79-47.84,106.45-106.87,106.45h-.27A106.7,106.7,0,0,1,139.45,683l-.12.12L32,575.77l0,0a105.59,105.59,0,0,1,0-151.49l0,0L177.86,278.39h0L354.75,101.52h0l29.09-29.1,21.9-21.9a208.68,208.68,0,0,1,228.48-29c.85.41,1.69.83,2.53,1.26l1.86,1a107.41,107.41,0,0,1,25,170.5L643,214.92l-66.42,66.42-75.92,75.92-.11-.12-.22.22.12.11.21-.21Z" />
            </svg>
        </div>
        <ul class="brand-color-selector">
            <li class="color-selector" id="brand-01"></li>
            <li class="color-selector" id="brand-02"></li>
            <li class="color-selector" id="brand-03"></li>
            <li class="color-selector" id="brand-04"></li>
            <li class="color-selector" id="brand-05"></li>
            <li class="color-selector" id="brand-06"></li>
        </ul>
    </div>
</section>

<section class="container brand-font">
    <h4>Expresión Tipográfica</h4>

    <div>
        <h5>Nunito Sans</h5>
        <p>En búsqueda de una fuente que siga la línea del símbolo se encontró esta fuente Sans Serif que se adapta
            perfectamente a las necesidades digitales que se plantean.</p>
    </div>

    <div>
        <h5>Space Mono</h5>
        <p>En contraste a la principal, esta fuente monoespaciada Serif brinda la sintonía con el área de desarrollo
            digital.</p>
    </div>
</section>

<section class="container">
    <div class="brand-applications">
        <h4>Aplicaciones</h4>
        <img src="/img/banner_apps.png" alt="aplicaciones de la marca Juan Bolatti">
    </div>
</section>