<section class="container home">
    <p>Juan Cruz Bolatti</p>
    <div>
        <h1>{{ pageTitle }}</h1>
        <h2 class="design-title">Diseño</h2>
        <h2 class="brand-title">Marca</h2>
        <h2 class="image-title">Imagen</h2>
        <h2 class="drafting-title">Redacción</h2>
    </div>
</section>