<div style="text-align: center;">
    <h1>Pagina de mis otros proyectos en proceso de desarrollo</h1>
    <p>Les voy a ser sincero, no pense que alguien fuera a entrar a esta pagina tampoco</p>
</div>