<section class="hero">
    <div class="hero-image">
        <div>
            <p>Sitio Web</p>
            <a href="#" target="_blank">// ateneo.com.ar</a>
            <p>Instagram</p>
            <a href="#" target="_blank">@ Ateneo</a>
        </div>
    </div>

    <div class="hero-content">
        <h1>Ateneo</h1>
        <h3>Diseño y Desarrollo de Página Web</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, libero reprehenderit perspiciatis illum
            odit illo assumenda nulla autem laborum nobis quibusdam fuga vel, eveniet, repellendus qui natus commodi
            magnam quo tempore. Vel repellendus blanditiis quaerat. Magni veritatis quod ex. Ducimus cupiditate
            consectetur in itaque ea amet at facilis sequi veniam.</p>
        <div>
            <a href="#concept">V</a>
        </div>
    </div>
</section>

<div class="sections-container">
    <div class="left">
        <section class="concept-text pres-general-card" id="concept">
            <h2>Concepto</h2>
            <p>Doloribus voluptatum vel cum asperiores est odit obcaecati expedita sit ducimus saepe itaque in ratione
                labore similique officiis, pariatur dolor sapiente ea qui reprehenderit voluptate, temporibus culpa
                eaque?
                Velit eum sequi quae sunt deserunt consequatur iste enim voluptate voluptas, repudiandae labore
                necessitatibus voluptates praesentium deleniti natus itaque nemo fuga eligendi ut dolorem harum ad
                veniam
                perferendis. </p>
        </section>

        <section class="color" id="color">
            <div>
                <h2>Paleta de Colores</h2>
                <p>Sinceramente, no tengo nada</p>
                <p>#7D2FCC - R:12 G:23 B:23 - C:0 M:0 Y:12 K:12</p>
            </div>

            <div>
                <ul>
                    <li>#7D2FCC</li>
                    <li>R:12 G:23 B:23</li>
                    <li>C:0 M:0 Y:12 K:12</li>
                </ul>

                <ul>
                    <li>#7D2FCC</li>
                    <li>R:12 G:23 B:23</li>
                    <li>C:0 M:0 Y:12 K:12</li>
                </ul>
            </div>
        </section>

        <section class="font" id="font">
            <h2>Expresión Tipográfica</h2>

            <div>
                <h4>Nunito Sans</h4>
                <p>En búsqueda de una fuente que siga la línea del símbolo se encontró esta fuente Sans Serif que se
                    adapta
                    perfectamente a las necesidades digitales que se plantean.</p>
            </div>

            <div>
                <h4>Space Mono</h4>
                <p>En contraste a la principal, esta fuente monoespaciada Serif brinda la sintonía con el área de
                    desarrollo
                    digital.</p>
            </div>
        </section>

        <section class="aplication" id="aplication">
            <h2>Aplicaciones</h2>
            <p>Tienen que ser cards irregulares con fotos, no hay mucho mas, un grid</p>
        </section>
    </div>

    <div class="right">
        <section class="concept-list">
            <ul>
                <li>
                    <h4><span>Entidad:</span> Ateneo</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, aspernatur.</p>
                </li>

                <li>
                    <h4><span>Enfoques de Marca:</span></h4>
                    <p>Moderno // Profesional // Llamativo</p>
                </li>

                <li>
                    <h4><span>Usos Principales:</span></h4>
                    <p>Digitales: tales como redes sociales, usos en web e incrustaciones en imágenes y videos.</p>
                    <p>Físicos: como tarjetas de presentación o facturas.</p>
                    <p>Firmas: tanto para páginas como para mails.</p>
                </li>

                <li>
                    <h4><span>Año:</span> 2024</h4>
                </li>
            </ul>
        </section>

        <section class="structure" id="structure">
            <h2>Estructura Visual</h2>
            <p>Y si les sigo siendo sinceros, tampoco se como estructurar esto</p>
        </section>

        <section class="tech" id="tech">
            <h2>Tecnologias (Sin titulo)</h2>
            <p>Para mi debería ser algo tranca, una linea gris, los logos en gris claro tambien, como un coso de
                clientes
                pero de Tecnologias</p>
        </section>
    </div>

</div>