<section class="hero">
    <div class="hero-image">
        <img src="#" alt="Imagen de Presentación de un Servicio - Juan Cruz Bolatti">
        <div>
            <p>Sitio Web</p>
            <a href="#" target="_blank">//guthib.com</a>
            <p>Instagram</p>
            <a href="#">@guthib</a>
        </div>
    </div>

    <div class="hero-content">
        <h1>Guthib</h1>
        <h3>Diseño y Desarrollo de Página Web</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, libero reprehenderit perspiciatis illum odit illo assumenda nulla autem laborum nobis quibusdam fuga vel, eveniet, repellendus qui natus commodi magnam quo tempore. Vel repellendus blanditiis quaerat. Magni veritatis quod ex. Ducimus cupiditate consectetur in itaque ea amet at facilis sequi veniam.</p>

        <a href="#sectionConcept"></a>
    </div>
</section>

<section class="container concept" id="sectionConcept">
    
</section>

<section class="container color" id="sectionColor">
    
</section>

<section class="container structure" id="sectionStructure">
    
</section>

<section class="container font" id="sectionFont">
    
</section>

<section class="container aplication" id="sectionAplication">
    
</section>

<section class="container tech" id="sectionTech">
    
</section>