<section class="hero">
    <div class="hero-image">
        <div>
            <p>Sitio Web</p>
            <a href="#" target="_blank">// ateneo.com.ar</a>
            <p>Instagram</p>
            <a href="#" target="_blank">@ Ateneo</a>
        </div>
    </div>

    <div class="hero-content">
        <h1>Ateneo</h1>
        <h3>Diseño y Desarrollo de Página Web</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, libero reprehenderit perspiciatis illum
            odit illo assumenda nulla autem laborum nobis quibusdam fuga vel, eveniet, repellendus qui natus commodi
            magnam quo tempore. Vel repellendus blanditiis quaerat. Magni veritatis quod ex. Ducimus cupiditate
            consectetur in itaque ea amet at facilis sequi veniam.</p>
        <div>
            <a href="#concept">V</a>
        </div>
    </div>
</section>

<section class="sections-container concept" id="concept">

    <div class="concept-info">
        <div>
            <div>Moderno // Profesional // Llamativo</div>
        </div>

        <div>
            <p>2025</p>
        </div>
    </div>

    <div class="concept-title">
        <div>
            <h3>Concepto</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum dolores nostrum reprehenderit natus minus deserunt officiis culpa alias beatae dolor deleniti eos odit, illo impedit adipisci nam ullam sed? Nemo.</p>
        </div>
        <div></div>
    </div>

    <div class="concept-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
        <ul>
            <li>Digitales Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
            <li>Fisicos Lorem, ipsum dolor.</li>
            <li>Lorem ipsum dolor sit.</li>
        </ul>
    </div>

</section>

<section class="sections-container color" id="color">

    <div class="color-content">
        <div>
            <h3>Paleta de Color</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo officiis adipisci odit cum consequuntur ducimus ipsam, expedita, eaque eos, repudiandae quibusdam fugiat neque culpa tenetur necessitatibus soluta dolorem reiciendis rerum!</p>
        </div>

        <div>
            <div>
                <p>buenas</p>
            </div>

            <div>
                <p>buenas</p>
            </div>

            <div>
                <p>buenas</p>
            </div>
        </div>
    </div>

    <div class="color-texture"></div>

</section>

<section class="sections-container structure" id="structure">

    <div class="structure-image">
        titulin
    </div>

    <div class="structure-content">
        <h3>Estructura</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ab quod eligendi consectetur sint ut perferendis quis. Eveniet nemo rerum, nam autem nesciunt veniam. Cum sunt voluptate nulla et cumque.</p>
    </div>

    <div class="structure-info">
        <div>
            <p>Data 1</p>
            <div></div>
        </div>

        <div>
            <p>Data 2</p>
            <div></div>
        </div>
    </div>

</section>

<section class="sections-container font" id="font">

    <div>
        <h3>Nunito</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis architecto eum aspernatur accusamus tenetur expedita quo, sapiente animi sit deserunt?</p>
    </div>

    <div>
        <h3>Space Mono</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis architecto euetur expedita quo, sapiente animi sit deserunt?
    </div>

</section>

<section class="sections-container aplication" id="aplication">

    <div class="aplication-banner"></div>

    <div class="aplication-images">
        <div></div>
        <div></div>
        <div></div>
    </div>
    
</section>

<div class="sections-container pres-divider"></div>

<section class="sections-container tech" id="tech">
    <ul>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
    </ul>

    <ul >
        <li>A</li>
        <li>A</li>
    </ul>

    <ul >
        <li>A</li>
        <li>A</li>
        <li>A</li>
    </ul>
</section>

