<style>
    .brand-color div:nth-of-type(2) div {
        background-image: url("../img/nama/nama_color_01.png");
    }

    .brand-color div:nth-of-type(2) .brand-01 {
        background-image: url("../img/nama/nama_color_01.png");
    }

    .brand-color div:nth-of-type(2) .brand-02 {
        background-image: url("../img/nama/nama_color_02.png");
    }

    .brand-color div:nth-of-type(2) .brand-03 {
        background-image: url("../img/nama/nama_color_03.png");
    }

    .brand-color div:nth-of-type(2) .brand-04 {
        background-image: url("../img/nama/nama_color_04.png");
    }
</style>

<div class="brand-nav">
    <a href="/" class="brand-logo display-pc">&larr;</a>
    <a href="/" class="brand-logo display-mobile">&rdca;</a>
</div>

<section class="container">
    <div class="brand-banner">
        <img src="/img/nama/nama_banner.png" alt="Nama Muebles Logo">

        <a href="#brandConcept" class="brand-arrow display-pc" id="brandConcept">
            <div style="background-color: #3b4c56;"></div>
            <div style="background-color: #3b4c56;"></div>
        </a>
    </div>
</section>

<section class="container brand-concept">
    <div>
        <h4>Concepto</h4>
        <p>Nama es una marca de muebles que se enfoca en piezas particulares de diseño moderno y minimalista con un
            fuerte enfoque en la estética creativa y en la integración de la armonía natural de la madera y la rigidez
            visual del hierro.</p>
    </div>

    <div>
        <h5><span>Marca:</span> Nama Muebles</h5>
        <p>Muebles particulares enfocados en el aprovechamiento de la madera en conjunción al hierro.</p>

        <h5><span>Enfoques de Marca:</span></h5>
        <p>Lujo // Profesional</p>

        <h5><span>Usos Principales:</span></h5>
        <p>Usos en redes sociales para posicionamiento digital.</p>
        <p>Marcado en las maderas como método de firma.</p>
        <p>Papelería corporativa.</p>

        <h5><span>Año:</span> 2024</h5>
    </div>
</section>

<section class="container">
    <div class="brand-sketch">
        <img src="/img/nama/nama_sketch.png" alt="Boceto del logo de Nama">
    </div>
</section>

<section class="container brand-color">
    <div>
        <h4>Paleta de Colores</h4>
        <p>En el mundo moderno es cada vez más común la personalización por parte de los usuarios, y eso por eso que este logo puede variar sus colores para adaptarse a las decisiones del cliente.</p>
    </div>

    <div class="brand-palette">
        <div id="brand-palette-background">

        </div>
        <ul class="brand-color-selector">
            <li class="color-selector" id="brand-01" style="background-color: #fff;"></li>
            <li class="color-selector" id="brand-02" style="background-color: #949494;"></li>
            <li class="color-selector" id="brand-03" style="background-color: #4d4d4b;"></li>
            <li class="color-selector" id="brand-04" style="background-color: #96593f;"></li>
        </ul>
    </div>
</section>
